<h1>Users</h1>
<div class="user-profiles">

  <% @users.each do |user| %>

  <div class="user-profile">
    <p><%= link_to user.full_name, user %></p>
    <p><%= user.email %></p>
  </div>

  <% end %>
</div>
