<header>
  <h1>
    <%= link_to "Skills Inventory", root_path %>
  </h1>
  <nav class="main-nav">
    <ul class="menu-items">
      <li class="menu-item"><%= link_to "Register", register_path, class: 'menu-link' %></li>
      <li class="menu-item"><a href="#" class="menu-link">Log in</a></li>
    </ul>
  </nav>
</header>
